*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width:600px;
    height: 100vh;
    text-align: center;
    margin:auto;
}
.todoList{
    margin:20px;
    width:700px;
}
.todoList p{
    margin:10px;
    border:1px solid;
    padding:10px;
    text-align: left;
}
.todoList button{
    padding:7px;
    width:100px;
    color:#fff;
    background-color: rgb(44, 44, 159);
    cursor:pointer;

}
.active{
    color:bisque;
    background-color: rgb(129, 156, 156);  
}
.pages{
    color:black;
   background-color: antiquewhite;  
}
span{
    border:1px solid;
    padding: 5px;
    margin:4px;
    cursor:pointer;
}